p
{
    color: #0f0;
    background-color: rgb(102, 102, 230);
}
h1
{
    color: #f00;
    background-color: rgba(13, 128, 13, 0.404);
}
ul
{
    color: #00f;
    background-color: rgba(121, 5, 5, 0.174);
}